@model IEnumerable<EmployeeAccessSystem.Models.AccessRequest>

@{
    ViewData["Title"] = "My Requests";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div class="container mt-4">

    <h3>My Requests</h3>

    <table class="table table-bordered">

        <thead>

            <tr>
                <th>SN</th>
                <th>Asset Tag</th>
                <th>Category</th>
                <th>Server</th>
                <th>IP</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Date</th>
            </tr>

        </thead>

        <tbody>

            @{
                int sn = 1;
            }

            @foreach (var item in Model)
            {

                <tr>

                    <td>@sn</td>
                    <td>@item.AssetTag</td>
                    <td>@item.CategoryName</td>
                    <td>@item.ServerName</td>
                    <td>@item.ServerIP</td>
                    <td>@item.Duration</td>
                    <td>@item.FinalStatus</td>
                    <td>@item.RequestDate</td>

                </tr>

                sn++;

            }

        </tbody>

    </table>

</div>