@model EmployeeAccessSystem.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<div class="row justify-content-center mt-3">
    <div class="col-12 col-md-9 col-lg-7">

        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">Employee Details</h5>
            </div>

            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:200px;">Employee ID</th>
                        <td>@Model.EmployeeId</td>
                    </tr>
                    <tr>
                        <th>Full Name</th>
                        <td>@Model.FullName</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td>@Model.DepartmentName</td>
                    </tr>
                </table>

                <div class="d-flex gap-2">
                    <a asp-action="Edit" asp-route-id="@Model.EmployeeId" class="btn btn-warning">
                        Edit
                    </a>

                    <a asp-action="Index" class="btn btn-secondary">
                        Back
                    </a>
                </div>
            </div>

        </div>

    </div>
</div>
